// Base styles
.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

body {
  color: white;

  .lightish {
    background-color: $primary;
    color: $secondary;
  }
  
  .reddish {
    background-color: $secondary;
    color: $primary;
  }
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
}