// Form Styles
.form-container {
    display: flex;
    // flex-direction: column;
    align-items: center;

    .contact-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    input,
    textarea {
        padding: 10px;
        color: $secondary;
        background-color: transparent;
    }

    button {
        background-color: $secondary;
        color: $primary;
        margin-top: 15px;
        padding: 10px 0;
        width: 50%;
    }
}

.input-one,
.input-two {
    margin: 15px 0;
    border-bottom: 2px solid $tertiary;

    input {
        width: 100%;
    }
}

textarea {
    border: 2px solid $tertiary;
    resize: none;
}

.input-one,
.input-two,
textarea {
    width: 50%;
}

button:hover,
button:focus {
    border: 2px solid $solid-black;
    background-color: $primary;
    color: $secondary;
}

