// Header styles
header  {
    background: $primary;
    height: 90vh;

    h1 {
        padding-top: 100px;
        width: 100%;
    }

    .front-end {
        font-size: 2rem;
        line-height: 2.2rem;
        margin-bottom: 125px;
    }

    .name a {
        padding: 15px 20px;
        color: $primary;
        background-color: $secondary;
    }
}

.typewriter  {
    margin: auto;
    width: 50%;
    p {
        flex-wrap: wrap;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end),
    blink-carret .75s step-end infinite;
}
}

.name {
    color: $secondary;
    text-align: center;
}