// Header styles
header  {
    background: $primary;
    height: 100vh;

    h1 {
        padding-top: 80px;
        width: 100%;
        border-right: 1px solid $secondary;
        white-space: nowrap;
        animation: typing 3.5s steps(30, end),
        blink .5s step-end infinite;
    }

    .front-end {
        font-size: 2rem;
    }

    .name a {
        margin-top: 10px;
        padding: 15px 20px;
        color: $primary;
        background-color: $secondary;
    }
}

.name {
    color: $secondary;
    text-align: center;
}