// Nav styles
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;

    h3,
    a {
        color: $secondary;
        font-size: 1.3rem
    }
    

    ul {
        margin-top: 0;
        justify-content: flex-end;

    li {
        padding: 0 10px;
        }
    }

    h3 {
        text-align: center;
        padding: 5px;
        border: 2px solid $secondary;
        margin-top: 0;
    }
}

header a:hover,
header a:focus {
    opacity: 0.5;
    color: $tertiary;
    border-bottom: 2px solid $tertiary;
}
