// Fonts
// $headingFont: ;
// $bodyFont: ;
// Set root element font-size to 125% 1 rem = 20px
// $baseFontSize: 1rem;

// Colors
$primary: #faf6e8;
$secondary: #670520;
$tertiary: #851d25;
$quaternary: #a3352b;
$quinary: #c14e31;
$solid-black: #000;
$solid-white: #fff;