// Fonts
$heading-font: 'Lora', serif;
$body-font: 'Montserrat', sans-serif;

// Colors
$primary: #faf6e8;
$secondary: #670520;
$tertiary: #851d25;
$quaternary: #a3352b;
$quinary: #c14e31;
$solid-black: #000;
$solid-white: #fff;